$unvisitedNode: lightgray;
$visitedNode: blue;
$startNode: yellow;
$endNode: red;

.tempCellText {
  padding-right: 3px;
  color: red;
}

.gridCell {
  background-color: $unvisitedNode;
  position: absolute;
  outline: 0.1px solid;
  text-align: right;
  vertical-align: top;
}

.visitedNode {
  animation: clickCell 2s;
  background-color: $visitedNode;
}

.startNode {
  background-color: $startNode;
}

.endNode {
  background-color: $endNode;
}

@keyframes clickCell {
  from {
    background-color: $unvisitedNode;
  }
  to {
    background-color: $visitedNode;
  }
}
