$gridBG: lightgray;
$visitedNode: blue;
$startNode: yellow;
$endNode: red;

.grid {
  position: absolute;
  background-color: $gridBG;
}

.visitedNode {
  animation-name: animation-VisitedNode;
  // animation-duration: 2s;
  background-color: $visitedNode;
  color: white;
}

.startNode {
  background-color: $startNode;
}

.endNode {
  background-color: $endNode;
}

@keyframes animation-VisitedNode {
  from {
    background-color: $gridBG;
  }
  to {
    background-color: $visitedNode;
  }
}
