.grid {
  position: absolute;
  background-color: lightgray;
}

.visitedNode {
  animation-name: animation-VisitedNode;
  background-color: blue;
  color: white;
}

.startNode {
  background-color: yellow;
}

.endNode {
  background-color: red;
}

@keyframes animation-VisitedNode {
  from {
    background-color: lightgray;
  }
  to {
    background-color: blue;
  }
}