$gridBG: lightgray;
$visitedNode: blue;
$startNode: yellow;
$endNode: red;

.grid {
  position: absolute;
  background-color: $gridBG;
}

.visitedNode {
  background-color: $visitedNode;
}

.startNode {
  background-color: $startNode;
}

.endNode {
  background-color: $endNode;
}
