.grid {
  position: absolute;
  background-color: lightgray;
}

.visitedNode {
  animation-name: animation-VisitedNode;
  animation-duration: 2s;
  background-color: cyan;
}

.startNode {
  background-color: yellow;
}

.endNode {
  background-color: red;
}

.path {
  background-color: darkblue;
  animation-name: animation-Path;
  animation-duration: 2s;
}

@keyframes animation-Path {
  from {
    background-color: cyan;
  }
  to {
    background-color: darkblue;
  }
}
@keyframes animation-VisitedNode {
  from {
    background-color: lightgray;
  }
  to {
    background-color: cyan;
  }
}