.tempCellText {
  padding-right: 3px;
  color: red;
}

.gridCell {
  background-color: lightgray;
  position: absolute;
  outline: 0.1px solid;
  text-align: right;
  vertical-align: top;
}

.visitedNode {
  animation: clickCell 2s;
  background-color: blue;
}

.startNode {
  background-color: yellow;
}

@keyframes clickCell {
  from {
    background-color: lightgray;
  }
  to {
    background-color: blue;
  }
}