$gridBG: lightgray;
$visitedNode: cyan;
$startNode: yellow;
$endNode: red;
$path: darkblue;

.grid {
  position: absolute;
  background-color: $gridBG;
}

.visitedNode {
  animation-name: animation-VisitedNode;
  animation-duration: 2s;
  background-color: $visitedNode;
  // color: white;
}

.startNode {
  background-color: $startNode;
}

.endNode {
  background-color: $endNode;
}

.path {
  background-color: $path;
  animation-name: animation-Path;
  animation-duration: 2s;
  // animation-delay: 10s;
}

@keyframes animation-Path {
  from {
    background-color: $visitedNode;
  }
  to {
    background-color: $path;
  }
}

@keyframes animation-VisitedNode {
  from {
    background-color: $gridBG;
  }
  to {
    background-color: $visitedNode;
  }
}
